<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3" style="max-width: 500px;">
    <h2 class="border-bottom pb-2">회원가입</h2>
    <form th:action="@{/user/signup}" th:object="${signupForm}" method="post">

        <!-- 아이디 입력 -->
        <div class="mb-3">
            <label for="username" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{username}" class="form-control"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
            <input type="password" name="passwordConfirm" class="form-control"
                   th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
        </div>

        <button type="submit" class="btn btn-primary w-100">가입하기</button>
    </form>
</div>
</html>